.background{
  background-color: #eeecd5
}

#topWrapper{
  position: relative;
  display: inline-block;
  width: 100%
}

.logo{
  width: 500px;
  height: 105px;
  max-width: 50%;
  background-image: url(../pictures/url.jpg);
  margin-bottom: 1%;
  margin-top: 1%;
  display: inline-block;
  margin-left: 30%;
  margin-bottom: 1%;
}

.flex-nav ul {
  /*border:1px solid black;*/
  list-style: none;
  display: flex;
  font-family: 'Josefin Sans', sans-serif;
  /*text-shadow: 2px 2px 2px black;*/
  text-align: right;
  max-width: 40%;
  left: 28%;
  top: 1%;
  position: relative;
  font-weight: bold
}

.flex-nav li{
  flex:2.5;
  z-index: 1;
  /*float: right;*/
}

li{
  /*max-width: 30%;*/
  text-align: center;
}

li a{
  display: block;
  z-index: 1;
  max-width: 100%;
  color: black;
  font-size: 1.3em;
  /*border: 1px solid black;*/
  /*border-radius: 50%;*/
  margin: 1%, 1%, 0, 1%;

}

a{
text-decoration: none !important
}
a:hover{
  color: red !important;
  opacity: 0.8;
}

#content{
  /*border: 2px solid black;*/
  /*height: 1000px;*/
  /*margin-top*/
  margin-left: 1%;
  /*margin-right: 1%;*/
}

#contactPicture{
  /*border: 2px solid black;*/
  margin-top: 1%;
  margin-left: 20%;
  /*margin-right: 20%;*/
  height: 344px;
  top: -10px;
  width: 687px;
  background-image: url('../pictures/pano/goldenPoultryOver.jpg');
  background-size: cover;
  background-position: center ;
}

#contact{
  margin-left: 1%;
  /*padding-top: 100px;*/
  /*margin-top: 0.5%;*/
  /*border: 2px solid black;*/

}

#contactForm{
  text-align: center;
  height: 50%;
}

#contactTitle{
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;

}
form{
  display: flex;
  position: absolute;
  left: 35%;
}

#formLeft{
  position: relative;
  right: 5%;
  top: 50%;
  font-family: 'Josefin Sans', sans-serif;
  text-align: left;
}

#formRight{
  /*float: right;*/
  font-family: 'Josefin Sans', sans-serif;
  text-align: left;
}

#textbox{
  margin-bottom: 14%;
  display: inline-block;
  resize: none;
  height: 150px;
}

#locations{
  max-height: 100%;
}

.map{
  border: 2px black solid;
  height: 400px;
  width: 400px;
  display: inline-block
}

.location{
  border: 2px black solid;
  height: 200px;
  width: 200px;
  display: inline-block;
}

#contactBtn{
  position: relative;
  bottom: 17px;
}
