.background{
  background-color: #eeecd5
}

#topWrapper{
  position: relative;
  display: inline-block;
  width: 100%
}

.logo{
  width: 500px;
  height: 105px;
  max-width: 50%;
  background-image: url(../pictures/url.jpg);
  margin-bottom: 1%;
  margin-top: 1%;
  display: inline-block;
  margin-left: 30%;
  margin-bottom: 1%;
}

.flex-nav ul {
  /*border:1px solid black;*/
  list-style: none;
  display: flex;
  font-family: 'Josefin Sans', sans-serif;
  /*text-shadow: 2px 2px 2px black;*/
  text-align: right;
  max-width: 40%;
  left: 28%;
  top: 1%;
  position: relative;
  font-weight: bold
}

.flex-nav li{
  flex:2.5;
  z-index: 1;
  /*float: right;*/
}

li{
  /*max-width: 30%;*/
  text-align: center;
}

li a{
  display: block;
  z-index: 1;
  max-width: 100%;
  color: black;
  font-size: 1.3em;
  /*border: 1px solid black;*/
  /*border-radius: 50%;*/
  margin: 1%, 1%, 0, 1%;

}

a{
text-decoration: none !important
}
a:hover{
  color: red !important;
  opacity: 0.8;
}

#content{
  height: 650px;
  /*margin-top*/
  margin-left: 1%;
  margin-right: 1%;
}


#productPicture{
  /*border: 2px solid black;*/
  margin-top: 1%;
  margin-left: 20%;
  margin-right: 20%;
  height: 55%;
  top: -10px;
  max-width: 80%;
  width: auto;
  /*background-image: url('../pictures/pano/goldenPoultryOver.jpg');
  background-size: cover;
  background-position: center;*/
}

#chickenStock{
  max-width: 65%;
}
#chickenPic{
  height:300px;
  width: 500px;
}

#porkStock{
  max-width: 30%;
  position: relative;
  left: 20.1%;
}

#porkPic{
  height: 150px;
  width: 200px;
}

#beefStock{
  max-width: 30%;
  position: relative;
  float: right;

}

#beefPic{
  height: 150px;
  width: 200px;
}

#porkStock{
  /*position: relative;*/
  float: left;
  height: auto;
  width: auto;
  max-height: 100%;
  max-width: 100%;

}

#productCategories{

}

#poultryCategories{
  font-size: 25px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  display: inline;
  position: relative;
  left: 18%;
  margin: 3%;
  /*bottom: 25px;*/
  top: 10px;
}

.meatWrapper{
  position: relative;
  top: 20px;
}

.pics{
  max-width: 13%;
  left: 20%;
  display: inline-block;
  position: relative;
}
.pics:hover{
  color: black;
  opacity: 0.8;
}

#chicken2{
  max-width: 150px;
  display: inline-block;
  /*margin-left: 8.75%;*/
  position: relative;
  vertical-align: top;
}

#pork{
  display: inline-block;
  max-width: 150px;
  margin-left: 25%;
  position: relative;
  vertical-align: top;
}

#beef{
  max-width: 150px;
  display: inline-block;
  /*margin-left: 54%;*/
  position: relative;
  vertical-align: top;
}

.products{
  height: 113px;
  width: 113px;
  border-radius: 50%;
  border: 3px solid #FFF;
  box-shadow: 0 0 2px #888;
  margin: 5px;
}

.meatTitle{
  font-family: 'Josefin Sans', sans-serif;
  position: relative;
  left: 22%;
  font-size: 22px;
}



.pics .text{
  visibility:hidden;
  position: relative;
  bottom: 70px;
  margin-left: 2%;
  left: 20px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px black;
}


.pics:hover .text{
  visibility:visible;
}
