.background{
  background-color: #eeecd5
}

#topWrapper{
  position: relative;
  display: inline-block;
  width: 100%
}

.logo{
  width: 500px;
  height: 105px;
  max-width: 50%;
  background-image: url(../pictures/url.jpg);
  margin-bottom: 1%;
  margin-top: 1%;
  display: inline-block;
  margin-left: 30%;
  margin-bottom: 1%;
}

.flex-nav ul {
  list-style: none;
  display: flex;
  font-family: 'Josefin Sans', sans-serif;
  text-align: right;
  max-width: 40%;
  left: 28%;
  top: 1%;
  position: relative;
  font-weight: bold
}

.flex-nav li{
  flex:2.5;
  z-index: 1;
}

li{
  text-align: center;
}

li a{
  display: block;
  z-index: 1;
  max-width: 100%;
  color: black;
  font-size: 1.3em;
  margin: 1%, 1%, 0, 1%;
}

a{
  text-decoration: none !important
}

a:hover{
  color: red !important;
  opacity: 0.8;
}

#homePicture{
  max-height: 350px;
  max-width: 690px;
  height: 100%;
  width: 100%;
  margin-top: 1%;
  margin-left: 24%;
  margin-right: 20%;
  margin-bottom: 1.5%;
  background-image: url('../pictures/pano/lomitasPano.jpg');
  background-size: cover;
}


#content{
  font-family: 'Playfair Display', serif;
  height: 650px;
  margin-left: 1%;
  margin-right: 1%;
}

#contact{
  margin-left: 1%;
  border: 2px solid black;
}

#contactForm{
  margin-top: 0.5%
}

#aboutText{
  max-width: 690px;
  width: 100%;
  margin-left: 24%;
  margin-right: 20%;
  margin-top: 1%;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
}

@media (min-width:1281px) {

  .logo{
    margin-left: 36%;
  }

  #homePicture{
    margin-left: 31%;
  }

  #aboutText{
    margin-left: 31%;
  }


}

















